<div class="container">
  <ng-container *ngIf="products">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Description</th>
          <th>Stock</th>
          <th>Price R$</th>
          <th>ImageURL</th>
          <th>CategoryId</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th>{{product.description}}</th>
          <th>{{product.stock}}</th>
          <th>R$ {{product.price}}</th>
          <th>{{product.imageURL}}</th>
          <th>{{product.categoryId}}</th>
          <th>
            <Button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</Button>
          </th>
        </tr>
      </tbody>
    </table>
</ng-container>
</div>